
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="outer-box">
        <div class="inner-box">
            <header class="header">
              <h1>URL Shortener</h1>

              <% if (locals.error) { %>
              <p class="error"><%= error %></p>
              <% } %>

            </header>
            <br><br><br>
            <main class="form">
              <form class="form1" action="/" method="post">
                <input type="url" name="url" id="url" placeholder="Paste Your URL..." />
                <br><br>
                <input type="submit" value="Create URL" />
              </form>
            </main>

            <div class="short-url">
              <% if (locals.short_url) { %>
              <a href="<%= short_url %>" id="shortUrl"><%= short_url %> </a>
              <% } %>
            </div>

            <br><br><br>

            <footer class="footer">
               
<footer>© 2023 

  Made By Suyash Kamath with ❤️</footer>
            </footer>
        </div>

        <div class="circle c1"></div>
        <div class="circle c2"></div>
    </div>


    <script>
      // Add an event listener to the short URL element
      const shortUrlElement = document.getElementById("shortUrl");
      if (shortUrlElement) {
        shortUrlElement.addEventListener("click", () => {
          // Create a temporary input element to copy the URL
          const tempInput = document.createElement("input");
          tempInput.value = shortUrlElement.href;
          document.body.appendChild(tempInput);

          // Select and copy the URL to the clipboard
          tempInput.select();
          document.execCommand("copy");

          // Remove the temporary input element
          document.body.removeChild(tempInput);

          // Alert the user that the URL has been copied
          alert("Short URL copied to clipboard: " + shortUrlElement.href);
        });
      }
    </script>
</body>

</html>
